// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background-image: none;
}

body > header h1 a {
	background-image:url('/images/header.png');
    background-repeat:no-repeat;
	min-width: 505px;
	min-height: 76px;
	display: block;
	color: transparent;
}

body > header h1 a:hover {
  color: transparent;
}