// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background-image: none;
}

@media only screen and (min-width: 992px) {
  body { font-size: 0.95em; }
  h1 { font-size: 2.2em; line-height: 1.2em; }
}

body > header h1 a {
	background-image:url('/images/header.png');
    background-repeat:no-repeat;
	min-width: 505px;
	min-height: 76px;
	display: block;
	color: transparent;
}

body > header h1 a:hover {
  color: transparent;
}

blockquote {
  font-size: 1em;
}

ul {
  padding-left: 2em;
}

#cv-employment-table td,
#cv-education-table td,
#cv-skills-table td{
  padding: 0.5em;
  vertical-align: top;
}

#cv-employment-table .right-align,
#cv-education-table .right-align {
  text-align: right;
  min-width: 6em;
}

.cv-study-subtable {
  margin-left: 1.5em;
  margin-top: 0.5em;
}

.cv-study-subtable .first-column {
  min-width: 8em;
}

.cv-study-subtable td,
.cv-study-subtable td {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

.cv-grey {
  color: #888;
}

.cv-project {
  padding-left: 2em;
  padding-top: 0.5em;
  color: #888;
  font-style: italic;
}

ul.cv-achievements-list {
  margin-left: 5em;
  font-size: 0.8em;
  list-style-type: circle;
}